.graph {
  display: grid;
  grid-auto-flow: column;
  font-size: 0.7rem;
  margin: 2rem auto;
}
.graph_labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.data {
  position: relative;
  height: 150px;
  display: grid;
  align-content: flex-end;
  width: 15px;
  margin: 0 auto;
}
.graph_point {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.total_liters {
  /*   border: 1px solid;
 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}
.graph_main_point {
  height: 8px;
  width: 8px;
  z-index: 1;
}

.graph_point[type='graph-1'] {
  background-color: var(--graph-1);
}
.graph_point[type='graph-2'] {
  background-color: var(--graph-2);
}
.graph_point[type='graph-3'] {
  background-color: var(--graph-3);
}

.graph_top_labels {
  display: flex;
}

.graph_label {
  display: flex;
  align-items: center;
  margin: 8px;
  font-size: 0.7rem;
}

.square_label {
  width: 30px;
  height: 15px;
  padding: 4px;
  border-radius: 4px;
  margin: 0 4px;
  border: 2px dashed;
}

.square_label[color='graph-1'] {
  background-color: var(--graph-1);
}

.square_label[color='graph-2'] {
  background-color: var(--graph-2);
}
.square_label[color='graph-3'] {
  background-color: var(--graph-3);
}
.graph_point:hover {
  min-height: 7px;
  min-width: 7px;
  font-size: 0.7rem;
}
.graph_point:hover > span {
  background-color: white;
  z-index: 1;
  display: block;
  position: relative;
  white-space: nowrap;
  height: min-content;
  padding: 4px;
}

.graph_point span {
  display: none;
  position: absolute;
  top: -200%;
  left: 100%;
}
.col_details {
  font-size: 0.7rem;
}
