.event {
  display: flex;
  justify-content: space-between;
  padding: 2px 4px;
  color: #fff;
  box-shadow: 2px 2px 2px #000;
  border-radius: 4px;
  margin: 4px;
  cursor: pointer;
}
.event:hover {
  box-shadow: none;
}

.event:active {
  box-shadow: inset 2px 2px 2px #fff;
}

.day {
  background: red;
}
