.events {
  width: 100%;
}

.switch {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.buttons_box{
  display: flex;
  justify-content: space-evenly;
  padding: 4px 0;
  flex-wrap: wrap;
  gap:4px
}
