.columnsTitles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 8px;
  font-weight: 600;
}
.select_box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.button_underline {
  height: 4px;
  width: 95%;
  background-color: transparent;
}
