.title {
  text-align: center;
  cursor: pointer;
}
.button_underline {
  width: 90%;
  margin: 0 auto;
  height: 5px;
  background-color: transparent;
}
.button_underline[selected] {
  background-color: var(--black);
}
.title:hover .button_underline {
  background-color: var(--black);
}
