.eventdetails {
  border: 1px solid #000;
}

.buttons_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: var(--space-1);
}
.cow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}
