.table {
  display: grid;
}
.row {
  display: grid;
  grid-auto-flow: column;
}
.cell {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
.cell_title {
  font-size: 0.8rem;
  font-weight: 600;
}


