.body {
  text-align: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.header {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_link {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.nav_link:hover {
  box-shadow: 1px 1px 1px #0004;
}

.nav_link:active{
  background-color: #03f5;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}