.cell {
  padding: 0;
  text-align: center;
  padding: 0;
  width: 50px;
}

.table {
  min-width: 150px;
}

.event_row {
  cursor: pointer;
}
.event_row:hover {
  background-color: #ddd5;
}
.event_row:active {
  background-color: #ccc;
}

.badge_status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: var(--success);
}

.badge_status[status='danger'] {
  background-color: var(--danger);
}
.badge_status[status='success'] {
  background-color: var(--success);
}
.badge_status[status='warning'] {
  background-color: var(--warning);
}
