.links_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_actions {
  display: flex;
  justify-content: space-around;
}

.cows_page {
  margin: 1rem 0;
  width: 100%;
}
