.lastEvent_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.upcoming_line {
  width: 300px;
  display: flex;
  overflow: auto;
}

@media (min-width: 900px) {
  .upcoming_line {
     width: 400px; 
  }
}
