.lastEvent_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.upcoming_line {
  max-width: 270px;
  display: flex;
  overflow: auto;
}

@media (min-width: 900px) {
  .upcoming_line {
     max-width: 600px; 
  }
}
