.paragraph {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
}
.secondary {
  font-weight: 350;
}

.strong {
  font-weight: 600;
}

.p1 {
  margin: 0;
  font-size: 1rem;
}
.p2 {
  font-size: 1.2rem;
}
.p3 {
  font-size: 1.2rem;
  opacity: 0.7;
}
