.bottom_navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--shadow-2);
}

@media (min-width: 500px) {
  .bottom_navigation {
    display: none;
  }
}
