.resource {
  width: 12rem;
  height: 18rem;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 4rem 60% auto;
  box-shadow: var(--shadow-2);
}
.resource:hover {
  box-shadow: var(--shadow-1);
}
.resource_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.resource_text {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
