.form{
  color: var(--black)
}
.select {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--secondary-ligth);
  
}

.textarea {
  width: 200px;
  border: none;
  padding: 8px;
  font-size: 1.2rem;
  background-color: var(--secondary-ligth);
  resize: none
}
.date {
  width: 200px;
  border: none;
  padding: 8px;
  font-size: 1.2rem;
  background-color: var(--secondary-ligth);
}
.event_form {
  border: 1px solid;
  display: block;
}
.title {
  margin: 2rem 0;
}

@media (min-width: 600px) {
  .event_form {
    display: flex;
  }
}

.event_form__input {
  margin: 8px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
