.modal_container{
  padding: 8px;
}
.actions {
  display: flex;
  justify-content: space-around;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  border: 0.5px solid;
  border-radius: 4px;
  box-shadow: var(--shadow-1);
}

.btn:hover {
  box-shadow: var(--shadow-2);
}

.btn:active {
  box-shadow: var(--shadow-3);
}

.btn_primary {
  background-color: lightblue;
}

.btn_danger {
  background-color: red;
}

.btn_success {
  background-color: green;
}

.coments {
  max-width: 80%;
  margin: .5rem auto;
}
