.earring_row {
    display: grid;
    grid-template-columns: 40px 60px 50px auto;
    grid-gap: 4px;
    grid-auto-rows: minmax(25px, auto);
    border: 1px solid;
    border-bottom: none;
}

.hisotry_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    grid-auto-rows: minmax(25px, auto);
}
.earring_history{
    border: 1px solid;
    border-top: none;
}
.earring_box{
    border-bottom: 1px solid;
}

.hisotry_cell {

}

.earring_photo {
    display: none;
}

@media (min-width: 600px) {
    .earring_row {
        grid-template-columns: 40px 60px 50px auto;
    }

    .earring_photo {
        display: block;
    }

}