.btn {
  padding: 4px;
  min-width: 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: var(--shadow-1);
}
.btn:hover {
  box-shadow: var(--shadow-2);
}
.btn[disabled] {
  box-shadow: none;
  cursor: default;
}
.btn_1 {
  background-color: var(--primary);
}
.btn_2 {
  background-color: var(--danger);
}
