html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
  color: var(--blue-1);
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


textarea {
  resize: none;
}

/*  Theme  */

:root {
  --black: #000;
  --primary: #0fd;
  --blue-1: #185472;
  --shadow-1: 1px 1px 3px var(--black);
  --shadow-2: 1px 1px 6px var(--black);
  --shadow-3: 1px 1px 6px 3px var(--black);
}

.box-1 {
  margin: 8px;
}
.box-2 {
  margin: 16px;
}
