html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
  color: var(--blue-1);
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

textarea {
  resize: none;
}

/*  Theme  */

:root {
  --black: #000;
  --primary: rgb(108, 179, 255);
  --primary-ligth: rgb(203, 249, 255);
  --secondary: rgb(109, 202, 90);
  --secondary-ligth: rgb(180, 255, 165);
   
  --background: rgba(8, 8, 8, 0.733);
  --background-semi:rgb(56, 56, 56);
  --contrast: #fff;
  --backgraund-ligth:#fff;
  --contrast-light:#000;

  --white: #fff;
  --black: #000;

  --success: rgb(96, 177, 76);
  --warning: rgb(149, 243, 112);
  --danger: rgb(255, 101, 101);
  --blue-1: #185472;
  --shadow-1: 1px 1px 3px var(--black);
  --shadow-2: 1px 1px 6px var(--black);
  --shadow-3: 1px 1px 6px 3px var(--black);

  --graph-1: rgb(91, 189, 52);
  --graph-2: rgb(66, 55, 165);
  --graph-3: rgb(111, 215, 233);
}

.box-1 {
  margin: 8px;
}
.box-2 {
  margin: 16px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
