.btn_back {
  box-shadow: var(--shadow-1);
  cursor: pointer;
  width: 80px;
  text-align: center;
  margin: 12px auto;
  border-radius: 4px;
  background-color: #fff;
}
.btn_back:hover {
    box-shadow: var(--shadow-2);
}
